@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/icomoon.eot") format("embedded-opentype"), url("../assets/fonts/icomoon.ttf") format("truetype"), url("../assets/fonts/icomoon.woff") format("woff"), url("../assets/fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Black"), local("Poppins-Black"), url("../assets/fonts/Poppins-Black.woff2") format("woff2"), url("../assets/fonts/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Black Italic"), local("Poppins-BlackItalic"), url("../assets/fonts/Poppins-BlackItalic.woff2") format("woff2"), url("../assets/fonts/Poppins-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../assets/fonts/Poppins-Bold.woff2") format("woff2"), url("../assets/fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../assets/fonts/Poppins-BoldItalic.woff2") format("woff2"), url("../assets/fonts/Poppins-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../assets/fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("../assets/fonts/Poppins-ExtraBoldItalic.woff2") format("woff2"), url("../assets/fonts/Poppins-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url("../assets/fonts/Poppins-ExtraLight.woff2") format("woff2"), url("../assets/fonts/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraLight Italic"), local("Poppins-ExtraLightItalic"), url("../assets/fonts/Poppins-ExtraLightItalic.woff2") format("woff2"), url("../assets/fonts/Poppins-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Italic"), local("Poppins-Italic"), url("../assets/fonts/Poppins-Italic.woff2") format("woff2"), url("../assets/fonts/Poppins-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Light"), local("Poppins-Light"), url("../assets/fonts/Poppins-Light.woff2") format("woff2"), url("../assets/fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../assets/fonts/Poppins-Medium.woff2") format("woff2"), url("../assets/fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("../assets/fonts/Poppins-LightItalic.woff2") format("woff2"), url("../assets/fonts/Poppins-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("../assets/fonts/Poppins-MediumItalic.woff2") format("woff2"), url("../assets/fonts/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../assets/fonts/Poppins-Regular.woff2") format("woff2"), url("../assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../assets/fonts/Poppins-SemiBold.woff2") format("woff2"), url("../assets/fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url("../assets/fonts/Poppins-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 1.425;
  color: #666;
}

a {
  text-decoration: none;
  color: #666;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 3px;
  white-space: normal;
}
.btn > span[class^=arrow-right]::after, .btn span[class*=" arrow-right"]::after {
  content: "\ea3c";
  color: inherit;
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding-inline-start: 8px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inline-div {
  display: inline-block;
}

.services__title {
  margin: 0;
  margin-block-end: 1rem;
}
.services__title h2 {
  color: #000;
  font-size: 2.5rem;
  font-weight: 400;
}

.service__blocks__item--consultancy {
  flex-grow: 1;
  margin-block-start: 30px;
  padding: 30px;
  box-shadow: 0 0 10px 2px rgb(229.5, 229.5, 229.5);
  border: 1px solid rgba(102, 102, 102, 0.4);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0;
}
.service__blocks__item--consultancy--logo {
  background-color: #f7b322;
  border-radius: 50%;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--consultancy__title {
  font-size: 1.35rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--consultancy__description {
  font-size: 0.95rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--consultancy .material-symbols-rounded {
  color: #fff;
  font-size: 2.5rem;
  padding: 12px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

.service__blocks__btn-wrap--consultancy {
  border-radius: 5px;
  background-color: #f7b322;
}
.service__blocks__btn-wrap--consultancy p {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 0;
}

.service__blocks__item--it {
  flex-grow: 1;
  margin-block-start: 30px;
  padding: 30px;
  box-shadow: 0 0 10px 2px rgb(229.5, 229.5, 229.5);
  border: 1px solid rgba(102, 102, 102, 0.4);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0;
}
.service__blocks__item--it--logo {
  background-color: #4183d7;
  border-radius: 50%;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--it__title {
  font-size: 1.35rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--it__description {
  font-size: 0.95rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--it .material-symbols-rounded {
  color: #fff;
  font-size: 2.5rem;
  padding: 12px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

.service__blocks__btn-wrap--it {
  border-radius: 5px;
  background-color: #4183d7;
}
.service__blocks__btn-wrap--it p {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 0;
}

.service__blocks__item--marketing {
  flex-grow: 1;
  margin-block-start: 30px;
  padding: 30px;
  box-shadow: 0 0 10px 2px rgb(229.5, 229.5, 229.5);
  border: 1px solid rgba(102, 102, 102, 0.4);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0;
}
.service__blocks__item--marketing--logo {
  background-color: #2ecc71;
  border-radius: 50%;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--marketing__title {
  font-size: 1.35rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--marketing__description {
  font-size: 0.95rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--marketing .material-symbols-rounded {
  color: #fff;
  font-size: 2.5rem;
  padding: 12px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

.service__blocks__btn-wrap--marketing {
  border-radius: 5px;
  background-color: #2ecc71;
}
.service__blocks__btn-wrap--marketing p {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 0;
}

.service__blocks__item--telecom {
  flex-grow: 1;
  margin-block-start: 30px;
  padding: 30px;
  box-shadow: 0 0 10px 2px rgb(229.5, 229.5, 229.5);
  border: 1px solid rgba(102, 102, 102, 0.4);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0;
}
.service__blocks__item--telecom--logo {
  background-color: #d64541;
  border-radius: 50%;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--telecom__title {
  font-size: 1.35rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--telecom__description {
  font-size: 0.95rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--telecom .material-symbols-rounded {
  color: #fff;
  font-size: 2.5rem;
  padding: 12px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

.service__blocks__btn-wrap--telecom {
  border-radius: 5px;
  background-color: #d64541;
}
.service__blocks__btn-wrap--telecom p {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 0;
}

.service__blocks__item--web {
  flex-grow: 1;
  margin-block-start: 30px;
  padding: 30px;
  box-shadow: 0 0 10px 2px rgb(229.5, 229.5, 229.5);
  border: 1px solid rgba(102, 102, 102, 0.4);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0;
}
.service__blocks__item--web--logo {
  background-color: #926fb1;
  border-radius: 50%;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--web__title {
  font-size: 1.35rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--web__description {
  font-size: 0.95rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--web .material-symbols-rounded {
  color: #fff;
  font-size: 2.5rem;
  padding: 12px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

.service__blocks__btn-wrap--web {
  border-radius: 5px;
  background-color: #926fb1;
}
.service__blocks__btn-wrap--web p {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 0;
}

.service__blocks__item--security {
  flex-grow: 1;
  margin-block-start: 30px;
  padding: 30px;
  box-shadow: 0 0 10px 2px rgb(229.5, 229.5, 229.5);
  border: 1px solid rgba(102, 102, 102, 0.4);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0;
}
.service__blocks__item--security--logo {
  background-color: #f62459;
  border-radius: 50%;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--security__title {
  font-size: 1.35rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--security__description {
  font-size: 0.95rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--security .material-symbols-rounded {
  color: #fff;
  font-size: 2.5rem;
  padding: 12px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

.service__blocks__btn-wrap--security {
  border-radius: 5px;
  background-color: #f62459;
}
.service__blocks__btn-wrap--security p {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 0;
}

.service__blocks__item--school {
  flex-grow: 1;
  margin-block-start: 30px;
  padding: 30px;
  box-shadow: 0 0 10px 2px rgb(229.5, 229.5, 229.5);
  border: 1px solid rgba(102, 102, 102, 0.4);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0;
}
.service__blocks__item--school--logo {
  background-color: #ce4125;
  border-radius: 50%;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--school__title {
  font-size: 1.35rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--school__description {
  font-size: 0.95rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-block-end: 1rem;
}
.service__blocks__item--school .material-symbols-rounded {
  color: #fff;
  font-size: 2.5rem;
  padding: 12px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

.service__blocks__btn-wrap--school {
  border-radius: 5px;
  background-color: #ce4125;
}
.service__blocks__btn-wrap--school p {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 0;
}

.service__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-more {
  padding: 0;
  color: #000;
  font-size: 1.625rem;
  font-weight: 600;
  margin-inline: auto;
  margin-block: 30px;
  text-transform: none;
}

.news {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  color: #000;
}
.news .card-container {
  background-color: #fff;
  color: #000;
  box-shadow: 0 4px 6px 2px #929292;
  margin-block-end: 3.5rem;
  padding-block-end: 1.5rem;
}
.news .card-container .card-cover-img {
  width: 100%;
  padding-inline: 0;
}
.news .card-container .card-text {
  padding-inline: 1.5rem;
}

.news-more {
  display: inline-block;
  color: #000;
  font-size: 1.625rem;
  font-weight: 600;
  margin-inline: auto;
  margin-block: 30px;
  text-transform: none;
}

.about {
  background-color: #323544;
  color: #fff;
}

.footer {
  background-color: #323544;
  color: #fff;
  font-size: 0.7rem;
  font-family: sans-serif;
  padding-top: 27px;
  position: relative;
}
.footer__row {
  display: flex;
  flex-wrap: wrap;
}
.footer__info img {
  width: 320px;
  height: 65px;
}
.footer__info h4 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  margin-block-end: 26px;
  font-weight: 400;
}
.footer__socials__container {
  margin-block-end: 30px;
}
.footer__socials__link {
  display: inline-block;
  width: 57px;
  height: 57px;
  margin-inline-end: 7px;
  background-color: #212330;
  border-radius: 1em;
  position: relative;
}
.footer--facebook::after {
  content: "\ea91";
  font-family: "icomoon" !important;
  font-size: 26px;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
}
.footer--in::after {
  content: "\eac9";
  font-family: "icomoon" !important;
  font-size: 26px;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
}
.footer--x::after {
  content: "\e900";
  font-family: "icomoon" !important;
  font-size: 26px;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
}
.footer--instagram::after {
  content: "\ea92";
  font-family: "icomoon" !important;
  font-size: 26px;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
}
.footer__menu {
  flex: 100%;
  margin-bottom: 30px;
}
.footer__menu__heading {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  margin-block-end: 26px;
}
.footer__menu ul {
  list-style-type: none;
  padding-inline-start: 0;
}
.footer__menu a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  line-height: 1.275rem;
}
@media (min-width: 768px) {
  .footer__menu {
    flex: 50%;
  }
}
@media (min-width: 992px) {
  .footer__menu {
    flex: 25%;
  }
}
@media (min-width: 1260px) {
  .footer__menu {
    margin-bottom: 40px;
  }
}

.footer__bottom {
  background-color: #212330;
  padding-block-start: 15px;
  padding-block-end: 10px;
  width: 100vw;
}
.footer__bottom__wrap {
  width: auto;
}
.footer__bottom p {
  margin: 0;
  color: #fff;
  font-size: 0.8125em;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */