@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/icomoon.eot") format("embedded-opentype"), url("../assets/fonts/icomoon.ttf") format("truetype"), url("../assets/fonts/icomoon.woff") format("woff"), url("../assets/fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Black"), local("Poppins-Black"), url("../assets/fonts/Poppins-Black.woff2") format("woff2"), url("../assets/fonts/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../assets/fonts/Poppins-Bold.woff2") format("woff2"), url("../assets/fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../assets/fonts/Poppins-BoldItalic.woff2") format("woff2"), url("../assets/fonts/Poppins-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../assets/fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("../assets/fonts/Poppins-ExtraBoldItalic.woff2") format("woff2"), url("../assets/fonts/Poppins-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Italic"), local("Poppins-Italic"), url("../assets/fonts/Poppins-Italic.woff2") format("woff2"), url("../assets/fonts/Poppins-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Light"), local("Poppins-Light"), url("../assets/fonts/Poppins-Light.woff2") format("woff2"), url("../assets/fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../assets/fonts/Poppins-Medium.woff2") format("woff2"), url("../assets/fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../assets/fonts/Poppins-Regular.woff2") format("woff2"), url("../assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../assets/fonts/Poppins-SemiBold.woff2") format("woff2"), url("../assets/fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url("../assets/fonts/Poppins-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
html {
  font-size: 100%;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #444;
  letter-spacing: 0.4px;
  word-spacing: normal;
  line-height: 1.425;
}

p {
  margin: 0;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  font-weight: 600;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

div {
  padding: 0;
  margin: 0;
}

strong {
  font-weight: 600;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

@media (min-width: 768px) {
  .u-hide\@s {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .u-hide\@m {
    display: none !important;
  }
}

@media (min-width: 1260px) {
  .u-hide\@l {
    display: none !important;
  }
}

.u-show\@s {
  display: none !important;
}
@media (min-width: 768px) {
  .u-show\@s {
    display: block !important;
  }
}

.u-show\@m {
  display: none !important;
}
@media (min-width: 992px) {
  .u-show\@m {
    display: block !important;
  }
}

.u-show\@l {
  display: none !important;
}
@media (min-width: 1260px) {
  .u-show\@l {
    display: block !important;
  }
}

.services {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}
.services__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.services__title {
  font-size: 2.625rem;
  font-weight: 400;
}
.services__more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}
.services__more::after {
  content: "\ea3c";
  font-family: "icomoon" !important;
  color: inherit;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  padding-inline-start: 8px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.services__more {
  color: #444;
  font-size: 1.625rem;
  font-weight: 600;
  margin-block: 15px;
  line-height: 0.425;
}
@media (min-width: 768px) {
  .services__more {
    font-size: 2.25rem;
  }
}
.services__more:hover {
  border-radius: 0%;
  border-bottom: 3px solid currentColor;
  margin-bottom: 12px;
  text-decoration: none;
}
.services__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 30px;
}
@media (min-width: 768px) {
  .services__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .services__grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1260px) {
  .services__grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

.services-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(68, 68, 68, 0.4);
  border-radius: 15px;
  padding: 30px;
  margin: 30px auto 0;
  min-width: 100%;
  transition: 0.5s ease;
}
.services-card__icon-bg {
  display: block;
  margin: 0 auto 17px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.services-card__icon {
  position: relative;
}
.services-card__icon::after {
  content: "";
  font-family: "icomoon" !important;
  font-size: 2.2rem;
  color: #fff;
  position: absolute;
  left: -17px;
  top: 8px;
}
.services-card__title {
  display: block;
  margin: 0 auto 10px;
  padding-bottom: 10px;
  font-size: 1.35rem;
  font-weight: 400;
  line-height: 35px;
}
@media (min-width: 1260px) {
  .services-card__title {
    font-size: 20px;
  }
}
.services-card__description {
  display: block;
  margin: auto auto 13px;
  font-size: 0.825rem;
  font-weight: 300;
}
.services-card__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  margin-top: auto;
  padding: 5px 15px;
  height: 47px;
  font-size: 1.1rem;
  font-weight: 100;
  color: #fff;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .services-card:nth-child(-n+3) {
    grid-column: span 2;
  }
  .services-card:nth-child(n+4) {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .services-card:nth-child(n+4) {
    grid-column: span 3;
  }
}
@media (min-width: 1260px) {
  .services-card:nth-child(-n+3) {
    grid-column: span 4;
  }
}

.button-container {
  margin: 0 auto 0;
  padding: 5px;
}

.services-card--consultancy .services-card__icon-bg {
  background-color: #f7b322;
}
.services-card--consultancy .services-card__icon::after {
  content: "\e956";
  color: #fff;
}
.services-card--consultancy .services-card__button {
  background-color: #f7b322;
}
.services-card--consultancy:hover {
  background-color: #f7b322;
  transform: translateY(-12px);
  text-decoration: none;
}
.services-card--consultancy:hover .services-card__icon-bg {
  background-color: #fff;
}
.services-card--consultancy:hover .services-card__title,
.services-card--consultancy:hover .services-card__description {
  color: #fff;
}
.services-card--consultancy:hover .services-card__button {
  background-color: #fff;
  color: #f7b322;
}
.services-card--consultancy:hover .services-card__icon::after {
  color: #f7b322;
}

.services-card--it .services-card__icon-bg {
  background-color: #4183d7;
}
.services-card--it .services-card__icon::after {
  content: "\e956";
  color: #fff;
}
.services-card--it .services-card__button {
  background-color: #4183d7;
}
.services-card--it:hover {
  background-color: #4183d7;
  transform: translateY(-12px);
  text-decoration: none;
}
.services-card--it:hover .services-card__icon-bg {
  background-color: #fff;
}
.services-card--it:hover .services-card__title,
.services-card--it:hover .services-card__description {
  color: #fff;
}
.services-card--it:hover .services-card__button {
  background-color: #fff;
  color: #4183d7;
}
.services-card--it:hover .services-card__icon::after {
  color: #4183d7;
}

.services-card--marketing .services-card__icon-bg {
  background-color: #2ecc71;
}
.services-card--marketing .services-card__icon::after {
  content: "\e99d";
  color: #fff;
}
.services-card--marketing .services-card__button {
  background-color: #2ecc71;
}
.services-card--marketing:hover {
  background-color: #2ecc71;
  transform: translateY(-12px);
  text-decoration: none;
}
.services-card--marketing:hover .services-card__icon-bg {
  background-color: #fff;
}
.services-card--marketing:hover .services-card__title,
.services-card--marketing:hover .services-card__description {
  color: #fff;
}
.services-card--marketing:hover .services-card__button {
  background-color: #fff;
  color: #2ecc71;
}
.services-card--marketing:hover .services-card__icon::after {
  color: #2ecc71;
}

.services-card--telecoms .services-card__icon-bg {
  background-color: #d64541;
}
.services-card--telecoms .services-card__icon::after {
  content: "\e942";
  color: #fff;
}
.services-card--telecoms .services-card__button {
  background-color: #d64541;
}
.services-card--telecoms:hover {
  background-color: #d64541;
  transform: translateY(-12px);
  text-decoration: none;
}
.services-card--telecoms:hover .services-card__icon-bg {
  background-color: #fff;
}
.services-card--telecoms:hover .services-card__title,
.services-card--telecoms:hover .services-card__description {
  color: #fff;
}
.services-card--telecoms:hover .services-card__button {
  background-color: #fff;
  color: #d64541;
}
.services-card--telecoms:hover .services-card__icon::after {
  color: #d64541;
}

.services-card--web .services-card__icon-bg {
  background-color: #926fb1;
}
.services-card--web .services-card__icon::after {
  content: "\ea80";
  color: #fff;
  left: -22px;
}
.services-card--web .services-card__button {
  background-color: #926fb1;
}
.services-card--web:hover {
  background-color: #926fb1;
  transform: translateY(-12px);
  text-decoration: none;
}
.services-card--web:hover .services-card__icon-bg {
  background-color: #fff;
}
.services-card--web:hover .services-card__title,
.services-card--web:hover .services-card__description {
  color: #fff;
}
.services-card--web:hover .services-card__button {
  background-color: #fff;
  color: #926fb1;
}
.services-card--web:hover .services-card__icon::after {
  color: #926fb1;
}

.services-card--security .services-card__icon-bg {
  background-color: #f62459;
}
.services-card--security .services-card__icon::after {
  content: "\e9b4";
  color: #fff;
}
.services-card--security .services-card__button {
  background-color: #f62459;
}
.services-card--security:hover {
  background-color: #f62459;
  transform: translateY(-12px);
  text-decoration: none;
}
.services-card--security:hover .services-card__icon-bg {
  background-color: #fff;
}
.services-card--security:hover .services-card__title,
.services-card--security:hover .services-card__description {
  color: #fff;
}
.services-card--security:hover .services-card__button {
  background-color: #fff;
  color: #f62459;
}
.services-card--security:hover .services-card__icon::after {
  color: #f62459;
}

.services-card--training .services-card__icon-bg {
  background-color: #ce4125;
}
.services-card--training .services-card__icon::after {
  content: "\ea52";
  color: #fff;
}
.services-card--training .services-card__button {
  background-color: #ce4125;
}
.services-card--training:hover {
  background-color: #ce4125;
  transform: translateY(-12px);
  text-decoration: none;
}
.services-card--training:hover .services-card__icon-bg {
  background-color: #fff;
}
.services-card--training:hover .services-card__title,
.services-card--training:hover .services-card__description {
  color: #fff;
}
.services-card--training:hover .services-card__button {
  background-color: #fff;
  color: #ce4125;
}
.services-card--training:hover .services-card__icon::after {
  color: #ce4125;
}

.about {
  color: #fff;
  background-color: #323544;
  padding-block: 50px;
}
@media (min-width: 992px) {
  .about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
.about .welcome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column: span 1;
}
.about .welcome__title {
  margin-top: -6px;
  margin-bottom: 40px;
  font-size: 2.25rem;
  font-weight: 600;
}
.about .welcome__info {
  margin-bottom: 25px;
  line-height: 1.875rem;
  font-weight: 400;
}
.about .welcome__info:first-of-type {
  font-weight: 600;
}
.about .welcome__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}
.about .welcome__button::after {
  content: "\ea3c";
  font-family: "icomoon" !important;
  color: inherit;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  padding-inline-start: 8px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.about .welcome__button {
  font-size: 1.25rem;
  background-color: #272936;
  padding: 10px 30px;
  margin-bottom: 50px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}
.about .welcome__button:last-child {
  margin-left: 10px;
}
@media (min-width: 992px) {
  .about .welcome__button:last-child {
    margin-left: 0;
  }
}
.about .welcome__button:hover {
  text-decoration: none;
  background-color: #121318;
}
@media (min-width: 992px) {
  .about .welcome__button {
    margin-bottom: 0;
  }
  .about .welcome__button:first-of-type {
    margin-bottom: 17px;
  }
}
@media (min-width: 1260px) {
  .about .welcome__button:first-of-type {
    margin-bottom: 0;
  }
  .about .welcome__button:last-child {
    margin-left: 10px;
  }
}
.about .clients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column: span 1;
}
.about .clients__title {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 40px;
  margin-right: auto;
  flex-grow: 1;
}
.about .clients__review-stars {
  flex: 1 0 50%;
}
.about .clients__star {
  margin-bottom: 25px;
}
.about .clients__star:after {
  content: "\e9d9";
  font-family: "icomoon" !important;
  font-size: 2.5rem;
  color: orange;
}
.about .clients__quote {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
}
.about .clients__quoter-name {
  font-weight: 600;
  color: #a3a8ac;
  font-size: 1.1rem;
  margin-bottom: 25px;
}
.about .clients__quoter-company {
  color: #fff;
}
.about .clients__button--google {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}
.about .clients__button--google::after {
  content: "\ea3c";
  font-family: "icomoon" !important;
  color: inherit;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  padding-inline-start: 8px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.about .clients__button--google {
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 10px 30px;
  margin-top: 20px;
  background-color: #4387f6;
  transition: 0.2s ease-in-out;
}
.about .clients__button--google:hover {
  text-decoration: none;
  background-color: #166af4;
}
.about .clients__button--trustpilot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}
.about .clients__button--trustpilot::after {
  content: "\ea3c";
  font-family: "icomoon" !important;
  color: inherit;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  padding-inline-start: 8px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.about .clients__button--trustpilot {
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 10px 30px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: #00b67b;
  transition: 0.2s ease-in-out;
}
.about .clients__button--trustpilot:hover {
  text-decoration: none;
  background-color: #009b69;
}
@media (min-width: 992px) {
  .about .clients__button--trustpilot {
    margin-left: 0;
  }
}
@media (min-width: 1260px) {
  .about .clients__button--trustpilot {
    margin-left: 10px;
  }
}

.news {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1260px) {
  .news {
    padding-bottom: 50px;
  }
}
.news__heading {
  padding-top: 50px;
}
@media (min-width: 768px) {
  .news__heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.news__title {
  font-size: 2.25rem;
  font-weight: 600;
  color: #333645;
}
.news__button-container {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .news__button-container {
    padding: 0;
  }
}
.news__view-all-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}
.news__view-all-button::after {
  content: "\ea3c";
  font-family: "icomoon" !important;
  color: inherit;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  padding-inline-start: 8px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.news__view-all-button {
  color: #000;
  font-size: 1.625rem;
  font-weight: 600;
  margin-block: 15px;
  line-height: 1.1;
}
.news__view-all-button:hover {
  border-radius: 0%;
  border-bottom: 3px solid currentColor;
  margin-bottom: 12px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .news__grid {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1260px) {
  .news__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.article-card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  border: 1px solid #ccc;
  box-shadow: 0 12px 20px 7px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
}
.article-card:hover {
  text-decoration: none;
  transform: translateY(-12px);
}
@media (min-width: 768px) {
  .article-card--123 {
    display: none !important;
  }
}
@media (min-width: 1260px) {
  .article-card--123 {
    display: block !important;
  }
}
.article-card__tag {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.438rem;
  padding: 0 0.5em;
  color: #fff;
  text-transform: uppercase;
}
.article-card__tag:hover {
  text-decoration: underline;
}
.article-card__tag--career {
  background-color: #4183d7;
}
.article-card__tag--insight {
  background-color: #67809f;
}
.article-card__media {
  background-color: #67809f;
}
.article-card__cover-image {
  display: block;
  width: 100%;
}
.article-card__body {
  padding: 30px 30px 0 30px;
}
.article-card__title {
  color: #67809f;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 15px;
}
.article-card__description {
  color: #666;
  font-size: 0.8125rem;
  font-weight: 400;
  margin-bottom: 25px;
}
.article-card__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 15px;
  color: #fff;
  text-transform: uppercase;
  line-height: 2.25;
}
.article-card__button--insight {
  background-color: #f7b322;
}
.article-card__button--career {
  background-color: #4183d7;
}
.article-card__footer {
  padding: 0 30px 30px 30px;
}
.article-card__author {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 3rem;
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.article-card__avatar {
  display: inline-block;
  max-height: max-content;
  border-radius: 50%;
}
.article-card__meta {
  padding-left: 20px;
  color: #666;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}
.article-card__user-details {
  font-weight: 400;
}
.article-card__user-details strong {
  color: #000;
}

.footer {
  color: #fff;
  font-size: 1rem;
  background-color: #323544;
  padding-top: 27px;
  position: relative;
}
.footer__grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .footer__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .footer__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1260px) {
  .footer__grid {
    grid-template-columns: 1fr repeat(4, 200px);
    grid-template-rows: 1fr;
  }
}
.footer__menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.footer__heading {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
  margin-block-end: 26px;
  font-weight: 400;
  line-height: 1.1;
}
.footer__list {
  list-style-type: none;
  padding-inline-start: 0;
}
.footer__item {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  font-weight: 400;
}
.footer__item:hover {
  text-decoration: underline;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #212330;
  color: #fff;
}
.bottom__item {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.275;
}
@media (min-width: 768px) {
  .bottom__item {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
  }
  .bottom__item--dash::before {
    content: " - ";
    margin-right: 5px;
  }
}
@media (min-width: 768px) {
  .bottom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.socials {
  width: 100%;
}
.socials__company-logo {
  width: 320px;
  height: 65px;
}
.socials__heading {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  margin-block-start: 24px;
  margin-block-end: 26px;
  font-weight: 400;
}
.socials__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.socials__link {
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 68px;
  height: 58px;
  margin-inline-end: 7px;
  background-color: #212330;
  position: relative;
  cursor: pointer;
}
.socials__link--facebook::after {
  content: "\ea91";
  font-family: "icomoon" !important;
  font-size: 30px;
  padding: 12px 22px 16px 22px;
  color: #fff;
  position: absolute;
  top: -3px;
  left: -4px;
}
.socials__link--facebook-hover:hover {
  background-color: #3b5998;
}
.socials__link--in::after {
  content: "\eac9";
  font-family: "icomoon" !important;
  font-size: 30px;
  padding: 12px 22px 16px 22px;
  color: #fff;
  position: absolute;
  top: -3px;
  left: -4px;
}
.socials__link--in-hover:hover {
  background-color: #0077b5;
}
.socials__link--x::after {
  content: "\e900";
  font-family: "icomoon" !important;
  font-size: 30px;
  padding: 12px 22px 16px 22px;
  color: #fff;
  position: absolute;
  top: -3px;
  left: -4px;
}
.socials__link--x-hover:hover {
  background-color: #00aced;
}
.socials__link--instagram::after {
  content: "\ea92";
  font-family: "icomoon" !important;
  font-size: 30px;
  padding: 12px 22px 16px 22px;
  color: #fff;
  position: absolute;
  top: -3px;
  left: -4px;
}
.socials__link--instagram-hover:hover {
  background-color: #d93175;
}
@media (min-width: 768px) {
  .socials {
    grid-column: span 2;
  }
}
@media (min-width: 992px) {
  .socials {
    grid-column: span 4;
  }
}
@media (min-width: 1260px) {
  .socials {
    grid-column: span 1;
  }
}/*# sourceMappingURL=main.css.map */