// ==================================
// Breakpoints
// ==================================
$breakpoints: (
  // 280px+ mobile baseline
  s: 576px,
  m: 768px,
  l: 992px,
  xl: 1260px,
);

// ==================================
// Colours
// ==================================
$white: #fff;
$black: #000;
$text-grey: #444;
$primary_bg_clr: #323544;
$darker_bg_clr: #272936;

// social media colours
$google-clr:            #4387f6;
$trustpilot-clr:        #00b67b;
$facebook-clr:          #3b5998;
$linkedin-clr:          #0077b5;
$x-clr:                 #00aced;
$instagram-clr:         #d93175;

// service colours
$consultancy-clr:       #f7b322; // also used as news article button colour
$it-support-clr:        #4183d7;
$marketing-clr:         #2ecc71;
$telecoms-clr:          #d64541;
$web-development-clr:   #926fb1; // also used for client popout btn
$security-clr:          #f62459;
$training-clr:          #ce4125;

// misc colours
$support-btn-clr:       #4183d7; // also used as news article button colour
$contact-btn-clr:       #999aa2;
$star-clr:              orange;

// ==================================
// CONTEXT LINKS STYLES LIKE BUTTONS
// ==================================
$service-types: (
  "consultancy": (
    "bg": $consultancy-clr,
    "color": $white,
    "icon": "\e995",
  ),
  "it": (
    "bg": $it-support-clr,
    "color": $white,
    "icon": "\e956",
  ),
  "marketing": (
    "bg": $marketing-clr,
    "color": $white,
    "icon": "\e99b",
  ),
  "telecoms": (
    "bg": $telecoms-clr,
    "color": $white,
    "icon": "\e942",
  ),
  "web": (
    "bg": $web-development-clr,
    "color": $white,
    "icon": "\ea80",
  ),
  "security": (
    "bg": $security-clr,
    "color": $white,
    "icon": "\e9b4",
  ),
  "training": (
    "bg": $training-clr,
    "color": $white,
    "icon": "\e99e",
  ),
);

$social-media: (
  "facebook": (
    "bg": $facebook-clr,
    "icon": "\ea90",
  ),
  "in":(
    "bg": $linkedin-clr,
    "icon": "\eaca",
  ),
  "x": (
    "bg": $x-clr,
    "icon": "\e900",
  ),
  "instagram": (
    "bg": $instagram-clr,
    "icon": "\ea92",
  ),
);
  
$internal-buttons: (
  "google": (
    "bg": $google-clr,
  ),
  "trustpilot": (
    "bg": $trustpilot-clr,
  ),
  "contact": (
    "bg": $contact-btn-clr,
    "icon": "\e970",
  ),
  "support": (
    "bg": $support-btn-clr,
    "icon": "\e939",
  ),
  "search-icon": (
    "bg": $contact-btn-clr,
    "icon": "\e986",
  ),
  "standard": (
    "bg": $darker_bg_clr,
  ),
);

// ==================================
// ICONS
// ! NEED TO GROUP THESE INTO DIFFERENT LISTS
// ==================================
$icons: (
  1: "\e906",
  2: "\e910",
  3: "\e98c",
  4: "\e91e",
  5: "\e924",
  6: "\e92c",
  7: "\e930",
  8: "\e938",
  9: "\e939",
  10: "\e93a",
  11: "\e942",
  12: "\e945",
  13: "\e94e",
  14: "\e956",
  15: "\e957",
  16: "\e958",
  17: "\e96b",
  18: "\e970",
  19: "\e977",
  20: "\e986",
  21: "\e98c",
  22: "\e98f",
  23: "\e995",
  24: "\e99b",
  25: "\e99e",
  26: "\e9a6",
  27: "\e9aa",
  28: "\e9b2",
  29: "\e9b4",
  30: "\e9c1",
  31: "\e9c4",
  32: "\e9c9",
  33: "\e9ca",
  34: "\e9d9",
  35: "\ea0c",
  36: "\ea20",
  37: "\ea3c",
  38: "\ea80",
  39: "\ea90",
  40: "\ea92",
  41: "\eaca",
);



// ==================================
// PARTNERS SCROLL BAR LOGOS
// ==================================
$partners: (
  "cyber-essentials-colour": url(../assets/partners/cyber-essentials-colour.jpg),
  "gbc-colour": url(../assets/partners/GBC-colour.png),
  "google-partner": url(../assets/partners/google-partner.jpg),
  "investing-in-future-growth": url(../assets/partners/investing-in-future-growth.jpg),
  "iso-27001": url(../assets/partners/iso-27001.png),
  "norfolk-prohelp": url(../assets/partners/norfolk_prohelp.png),
  "norfolk-carbon-charter": url(../assets/partners/norfolk-carbon-charter.jpg),
  "skills-of-tomorrow": url(../assets/partners/skills-of-tomorrow.jpg),
);

// ==================================
// CLIENTS SCROLL BAR LOGOS
// ==================================
$clients: (
  "beat": url(../assets/clients/beat_logo.png),
  "black-swan": url(../assets/clients/black_swan_logo.png),
  "crane": url(../assets/clients/crane_logo.png),
  "girl-guides-anglia": url(../assets/clients/girl_guides_anglia.png),
  "survey-solutions": url(../assets/clients/survey_solutions_logo.png),
  "xupes": url(../assets/clients/xupes_logo.png),
);