// Breakpoints
$bp_s: 768px;
$bp_m: 992px;
$bp_l: 1260px;

// Colours
$white: #fff;
$black: #000;
$text-grey: #444;
$primary_bg_clr: #323544;
$darker_bg_clr: #272936;

$google-btn-clr: #4387f6;
$trustpilot-btn-clr: #00b67b;

// service icons
$service_icons: (
  "consultancy": ( 
    "bg": #f7b322,
    "icon": "\e956",
    ),
  "it": (
    "bg": #4183d7,
    "icon": "\e956",
    ),
  "marketing": (
    "bg": #2ecc71,
    "icon": "\e99d",
  ),
  "telecoms": (
    "bg": #d64541,
    "icon": "\e942",
    ),
  "web": (
    "bg": #926fb1,
    "icon": "\ea80",
    ),
  "security": (
    "bg": #f62459,
    "icon": "\e9b4",
    ),
  "training": (
    "bg": #ce4125,
    "icon": "\ea52",
    ),
);

// Footer Social Media Icons
$social_icons: (
  "facebook": (
    "icon": "\ea91",
    "bg": #3b5998,
    ),
  "in":(
    "icon": "\eac9",
    "bg": #0077b5,
    ),
  "x": (
    "icon": "\e900",
    "bg": #00aced,
    ),
  "instagram": (
    "icon": "\ea92",
    "bg": #d93175,
    ),
);