// Variables

// Breakpoints
$bp_s: 768px;
$bp_m: 992px;
$bp_l: 1260px;

// Colours
$white: #fff;
$black: #000;
$primary_bg_clr: #323544;

// service icons
$service_icons: (
  consultancy: ( 
    bg: #f7b322,
    ),
  it: (
    bg: #4183d7,
    ),
  marketing: (
    bg: #2ecc71,
  ),
  telecom: (
    bg: #d64541,
    ),
  web: (
    bg: #926fb1,
    ),
  security: (
    bg: #f62459,
    ),
  school: (
    bg: #ce4125,
    ),
)