// Container is in _layout -> not concerned with footer specific layout/styles
.footer {
  background-color: $primary_bg_clr;
  color: $white;
  font-size: .7rem;
  font-family: sans-serif;
  padding-top: 30px;
  position: relative;

  &__row {
    display: flex;
    flex-wrap: wrap;
  }
  
  &__heading {
    text-transform: uppercase;
    font-size: .75rem;
    margin-bottom: 26px;
  }

  &__menu {
    flex: 100%;
    margin-bottom: 30px;

    & ul {
      list-style-type: none;
      padding-inline-start: 0;
    }

    & li {
      padding-block-start: .75em;
    }

    & a {
      color: $white;
      text-decoration: none;
    }

    @media (min-width: $bp_s) {
      flex: 50%;
    }

    @media (min-width: $bp_m) {
      flex: 25%;
    }

    @media (min-width: $bp_l) {
      margin-bottom: 40px;
    }
  }

}
.footer__bottom {
  background-color: darken($primary_bg_clr, 10%);
  padding-block: .75em;
  
  & p {
    margin: 0;
    padding-block-start: .5em;
    padding-block-end: 0;
    color: $white;
    font-size: .7em;
  }
}