html {
  font-size:100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: .4px;
  line-height: 1.425;
  color: $text-grey;
}

a {
  text-decoration: none;
  color: $text-grey;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1260px) {
    width: 1200px;
  }
}

.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 3px;
  white-space: normal;

  & > span[class^="arrow-right"]::after, span[class*=" arrow-right"]::after {
    content: "\ea3c";
    color: inherit;
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    padding-inline-start: 8px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
}

.inline-div {
  display: inline-block;
}

@mixin flex-container-row ($wrap: wrap) {
  display: flex;
  flex-direction: row;
  flex-wrap: $wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0;
}

@mixin flex-container-column ($wrap: wrap) {
  display: flex;
  flex-direction: column;
  flex-wrap: $wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0;
}

@mixin flex-item {
  order: initial;
  flex-grow: 1;
  flex-basis: auto;
  align-self: flex-start;
}