html {
  font-size: 100%;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  
  color: $text-grey;
  letter-spacing: .4px;
  word-spacing: normal;
  line-height: 1.425;
}

p {
  margin: 0;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  font-weight: 600;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

div {
  padding: 0;
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1260px) {
    width: 1200px;
  }
}

@mixin btn-container {
  margin: 0 auto 0;
  padding: 5px;
}

@mixin arrow-right {
  &::after {
    content: "\ea3c";
    font-family: "icomoon" !important;
    color: inherit;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    padding-inline-start: 8px;

    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @content;
}

@mixin prime-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  @content;
}

@mixin flex-container-row ($wrap: wrap) {
  display: flex;
  flex-direction: row;
  flex-wrap: $wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0;
  @content;
}

@mixin flex-container-column ($wrap: wrap) {
  display: flex;
  flex-direction: column;
  flex-wrap: $wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0;
  @content;
}

@mixin flex-item {
  order: initial;
  flex-grow: 1;
  flex-basis: auto;
  @content;
}

// ===========================================================
// VISIBILITY TOGGLE CLASSES
// ===========================================================
.u-show\@s {
  display: none !important;
  @media (min-width: $bp_s) {
    display: block !important;
  }
}
.u-show\@m {
  display: none !important;
  @media (min-width: $bp_m) {
    display: block !important;
  }
}
.u-show\@l {
  display: none !important;
  @media (min-width: $bp_l) {
    display: block !important;
  }
}

.u-hide\@s {
  @media (min-width: $bp_s) {
    display: none !important;
  }
}
.u-hide\@m {
  @media (min-width: $bp_m) {
    display: none !important; 
  }
}
.u-hide\@l {
  @media (min-width: $bp_l) {
    display: none !important; 
  }
}