.news {
  display: flex;
  flex-wrap: wrap;

  background-color: $white;
  color: $black;
  
  & .card-container {
    background-color: $white;
    color: $black;
    box-shadow: 0 4px 6px 2px lighten($black, 80%);
    margin-block-end: 3.5rem;
    padding-block-end: 1.5rem;
    
    .card-cover-img {
      width: 100%;
      padding-inline: 0;
    }

    .card-text {
      padding-inline: 1.5rem;
    }
  }
}
.news-view-all {
  font-size: 1.625rem;
  margin-block-end: 20px;

  .icon-arrow-right2 {
    color: $black;
    font-size: 1.625rem;
    margin-inline-start: 5px;
  }

  .btn {
    display: inline-block;
    margin-inline: auto;
    font-weight: 600;
    
    a {
      text-decoration: none;
      color: $black;
    }
  }
}