// =========================================================================
// SERVICES SECTION
// =========================================================================
.services {
  display: flex;
  flex-direction: column;
  padding: 50px 0;

  &__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  &__title{
    font-size: 2.625rem;
    font-weight: 400;
  }
  &__more{
    @include prime-btn;
    @include arrow-right;
    color: $text-grey;
    font-size: 1.625rem;
    font-weight: 600;
    margin-block: 15px;
    line-height: .425;
    @media (min-width: $bp_s) {
      font-size: 2.25rem;
    }
    &:hover {
      border-radius: 0%;
      border-bottom: 3px solid currentColor;
      margin-bottom: 12px;
    }
  }
  &__grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 30px;
    @media (min-width: $bp_s) {
      & {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (min-width: $bp_m) {
      & {
        grid-template-columns: repeat(6, 1fr);
      }
    }
    @media (min-width: $bp_l) {
      & {
        grid-template-columns: repeat(12, 1fr);
      }
    }
  }
}
// =========================================================================
// SERVICE CARDS
// =========================================================================
.services-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 9px 3px rgba($black, 0.1);
  border: 1px solid rgba($text-grey, 0.4);
  border-radius: 15px;
  padding: 30px;
  margin: 30px auto 0;
  min-width: 100%;
  transition: 0.5s ease;
  &__icon-bg{
    display: block;
    margin: 0 auto 17px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }
  &__icon{
    position: relative;
    &::after {
      content: "";
      font-family: 'icomoon' !important;
      font-size: 2.2rem;
      color: $white;
      position: absolute;
      left: -17px;
      top: 8px;
    }
  }
  &__title{
    display: block;
    margin: 0 auto 10px;
    padding-bottom: 10px;
    font-size: 1.35rem;
    font-weight: 400;
    line-height: 35px;
    @media (min-width: $bp_l) {
      font-size: 20px;
    }
  }
  &__description{
    display: block;
    margin: auto auto 13px;
    font-size: .825rem;
    font-weight: 300;
  }
  &__button{
    @include prime-btn;
    margin-top: auto;
    padding: 5px 15px;
    height: 47px;
    font-size: 1.1rem;
    font-weight: 100;
    color: $white;
    text-transform: uppercase;
  }
  @media (min-width: $bp_s) {
    &:nth-child(-n+3) {
      grid-column: span 2;
    }
    &:nth-child(n+4) {
      grid-column: span 1;
    }
  }
  @media (min-width: $bp_m) {
    &:nth-child(n+4) {
      grid-column: span 3;
    }
  }
  @media (min-width: $bp_l) {
    &:nth-child(-n+3) {
      grid-column: span 4;
    }
  }
}

.button-container {
  @include btn-container;
}

// =========================================================================
// SEPARATE LOOP ABLE TO TARGET ONLY THE ELEMENTS THAT REQUIRE CUSTOM ICONS/COLOURS
// =========================================================================
@each $name, $data in $service_icons {
  .services-card--#{$name} {
    .services-card__icon-bg {
      background-color: map-get($data, "bg");
    }
    .services-card__icon::after {
      content: map-get($data, "icon");
      color: $white;
      @if $name == 'web' {
        left: -22px;
      }
    }
    .services-card__button {
      background-color: map-get($data, "bg");
    }
    &:hover {
      background-color: map-get($data, "bg");
      transform: translateY(-12px);
      text-decoration: none;
      .services-card__icon-bg {
        background-color: $white;
      }
      .services-card__title,
      .services-card__description {
        color: $white;
      }
      .services-card__button {
        background-color: $white;
        color: map-get($data, "bg");
      }
      .services-card__icon::after {
        color: map-get($data, "bg");
      }
    }
  }
}