@use "config";

// Content Wrapper
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1260px) {
    width: 1200px;
  }
}

@mixin flex-container-row ($wrap: wrap) {
  display: flex;
  flex-direction: row;
  flex-wrap: $wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0;
  @content;
}

@mixin flex-container-column ($wrap: wrap) {
  display: flex;
  flex-direction: column;
  flex-wrap: $wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0;
  @content;
}

@mixin flex-item {
  order: initial;
  flex-grow: 1;
  flex-basis: auto;
  @content;
}

// ===========================================================
// VISIBILITY TOGGLE CLASSES
// ===========================================================


.u-hide\@s {
  @media (min-width: config.$bp_s) {
    display: none !important; 
  }
}
.u-hide\@m {
  @media (min-width: config.$bp_m) {
    display: none !important; 
  }
}
.u-hide\@l {
  @media (min-width: config.$bp_l) {
    display: none !important; 
  }
}

.u-show\@s {
  display: none !important;
  @media (min-width: config.$bp_s) {
    display: block !important;
  }
}
.u-show\@m {
  display: none !important;
  @media (min-width: config.$bp_m) {
    display: block !important;
  }
}
.u-show\@l {
  display: none !important;
  @media (min-width: config.$bp_l) {
    display: block !important;
  }
}