@use "config";
@use "sass:map";
@use "sass:color";
@use "sass:math";


// all link_btn content should be lowercase characters
@mixin link-btn ($type) {
  // load the correct type from the Map instead of using loops.
  $config: map.get(config.$link-button-types, $type);
    text-transform: uppercase;
    white-space: normal;
    font-size: 1.125rem;
    line-height: 46px;
    padding: 5px 15px;
    border-radius: 3px;
    
    background-color: map.get($config, "bg");
    color: map.get($config, "color");
    @content;
}


@mixin link-icon($type) {
  $config: map.get(config.$link-button-types, $type);
  &::before {
    content: map.get($config, "icon");
    font-family: "icomoon" !important;
    color: map.get($config, "bg");
    // color: inherit;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @content;
  }
}

@mixin random-icon {
  $random: math.random(41);
  $icon: map.get(config.$icons, $random);
  &::before {
    content: $icon;
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}


@mixin link-arrow {
  &::after {
    content: "\ea3c";
    font-family: "icomoon" !important;
    color: inherit;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @content;
  }
}

// $is_border: for when underline breaks under multiple characters
@mixin link-underline($is_border: false) {
  text-decoration: none;
  border: none;
  @if $is_border {
    &:hover {
      border-bottom: 1px solid currentColor;
    }
  } @else {
    &:hover {
      text-decoration: underline;
    }
  }
  @content;
}

@mixin hover-display($element) {
  &:hover #{$element} {
    display: revert;
  }
}

@mixin btn-container {
  margin: 0 auto 0;
  padding: 5px;
  @content;
}

@mixin prime-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  @content;
}


//? either invert the base colours or apply social media color on :hover
@mixin link-hover-clr ($type) {
  $config: map.get($link-button-types, $type);
  @if $type == "facebook" or $type == "in" or $type == "x" or $type == "instagram" {
    &:hover {
      background-color: map.get($config, "bg");
    }
  } @else {
    &:hover {
      background-color: map.get($config, "color");
      color: map.get($config, "bg");
    }
  }
}


@mixin darken-bg ($color, $amount: -20%) {
  &:hover {
    background-color: color.scale($color, $lightness: $amount);
  }
}


@mixin tooltip-arrow($color, $lr_size: 12px, $top_size: 20px) {
  content: "";
  position: absolute;
  width: 0;
  height: 0;

  border-left: $lr_size solid transparent;
  border-right: $lr_size solid transparent;
  border-top: $top_size solid $color;
}


// name is probably too specific
@mixin burger-graphic {
  display: inline-block;
  position: relative;
  width: 33px;
  height: 4px;
  z-index: 1;
  background-color: config.$white;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 33px;
    height: 4px;
    z-index: 1;
    top: -10px;
    background-color: config.$white;
  }
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 33px;
    height: 4px;
    z-index: 1;
    top: 10px;
    background-color: config.$white;
  }
}


@mixin hide ($bp) {
  @if $bp == $bp_s {
    @media (min-width: $bp_s) {
      display: none !important;
    }
  }
  @if $bp == $bp_m {
    @media (min-width: $bp_m) {
      display: none !important;
    }
  }
  @if $bp == $bp_l {
    @media (min-width: $bp_l) {
      display: none !important;
    }
  }
}