@use "../abstracts" as ab;

// ! all likelyhook can remove .about from this partial
.about {
  color: ab.$white;
  background-color: ab.$primary_bg_clr;

  // ? .welcome is a block
  .welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: span 1;

    &__title {
      margin-bottom: 40px;
      font-size: 2.25rem;
      font-weight: 600;
      @include ab.respond(l) {
        word-spacing: -1px;
      }
    }

    &__info {
      margin-bottom: 25px;
      line-height: 1.875rem;
      font-weight: 400;
      &:first-of-type {
        font-weight: 600;
      }
      & a {
        @include ab.link-underline;
      }
    }

    &__button {
      @include ab.prime-btn;
      @include ab.link-arrow {
        margin-left: 10px;
      };
      font-size: 1.25rem;
      background-color: #272936;
      padding: 10px 30px;
      margin-bottom: 17px;
      text-transform: uppercase;
      line-height: 35px;
      transition: .2s ease-in-out;

      &:last-child {
        margin: 0;
        margin-bottom: 50px;
        @include ab.respond(s) {
          margin-left: 10px;
        }
        @include ab.respond(l) {
          margin-left: 0;
          margin-bottom: 0;
        }
      }
      &:hover {
        text-decoration: none;
        background-color: #121318;
      }

      @include ab.respond(s) {
        margin-bottom: 50px;
      }
      @include ab.respond(l) {
        margin-bottom: 0;
        &:first-of-type {
          margin-bottom: 17px;
        }
      }
      @include ab.respond(xl) {
        &:first-of-type {
          margin-bottom: 0;
        }
        &:last-child {
          margin-left: 10px;
        }
      }

    }
  }

  // ? .clients is a block
  .clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: span 1;
    &__title {
      font-size: 2.25rem;
      font-weight: 600;
      margin-bottom: 40px;
      margin-right: auto;
      flex: 1 0 100%;
      text-align: left;
    }

    // &__review-stars {
    //   flex: 1 0 50%;
    // }

    &__star {
      margin-bottom: 25px;
      &:after {
        content: "\e9d9";
        font-family: 'icomoon' !important;
        font-size: 3rem;
        color: orange;
      }
    }

    &__quote {
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: 1.3rem;
      font-weight: 600;
      font-style: italic;
      text-align: left;
    }

    &__quoter-name {
      font-weight: 600;
      color: #a3a8ac;
      font-size: 1.1rem;
      margin-bottom: 25px;
      text-align: left;
    }
    &__quoter-company {
      @include ab.link-underline;
      color: ab.$white;
    }

    &__button--google {
      @include ab.prime-btn;
      @include ab.link-arrow {
        margin-left: 10px;
      };
      text-transform: uppercase;
      font-size: 1.25rem;
      padding: 10px 30px;
      margin-top: 20px;
      background-color: #4387f6;
      transition: .2s ease-in-out;
      &:hover {
        text-decoration: none;
        background-color: #166af4;
      }
    }
    &__button--trustpilot {
      @include ab.prime-btn;
      @include ab.link-arrow {
        margin-left: 10px;
      };
      text-transform: uppercase;
      font-size: 1.25rem;
      padding: 10px 30px;
      margin-top: 20px;
      background-color: #00b67b;
      transition: .2s ease-in-out;
      &:hover {
        text-decoration: none;
        background-color: #009b69;
      }
      @include ab.respond(s) {
        margin-left: 8px;
        line-height: 35px;
      }
      @include ab.respond(l) {
        margin-left: 0;
      }
      @include ab.respond(xl) {
        margin-left: 8px;
        word-spacing: -2px;
      }
    }
  }
}
