@use "../abstracts" as ab;
@use "sass:map";

// Container is in _layout -> not concerned with footer specific layout/styles
.footer {
  color: ab.$white;
  font-size: 1rem;
  // font-family: 'Poppins' ,sans-serif;

  background-color: ab.$primary_bg_clr;
  padding-top: 27px;
  position: relative;
  
  @include ab.respond(xl) {
    padding-top: 47px;
  }


  // ! IS this supposed to be the section layout styling?!
  &__grid {
    display: grid;
    grid-template-columns: 1fr;

    @include ab.respond(m){
      grid-template-columns: repeat(2, 1fr);
    }
    @include ab.respond(l){
      grid-template-columns: repeat(4, 1fr);
    }
    @include ab.respond(xl){
      grid-template-columns: 1fr repeat(4, 200px);
      grid-template-rows: 1fr;
    }
  }
  &__menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  }

  &__heading {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
    margin-block-end: 26px;
    font-weight: 400;
    line-height: 1.1;
  }
    
  &__list {
    list-style-type: none;
    padding-inline-start: 0;
  }
  
  &__item {
    font-size: .8125rem;
    line-height: 1.375rem;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }
}

.link--underline {
  @include ab.link-underline;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #212330;
  color: ab.$white;

  &__item {
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.275;
    @include ab.respond(m) {
      display: inline-block;
      padding-left: 0;
      padding-right: 0;
      margin-left: 10px;
      &--dash::before {
        content: " - ";
        margin-right: 5px;
      }
    }
  }
  @include ab.respond(m) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}


.socials {
  width: 100%;
  &__company-logo {
    width: 320px;
    height: 65px;
  }
  &__heading {
    font-size: 1rem;
    text-transform: uppercase;
    color: ab.$white;
    margin-block-start: 24px;
    margin-block-end: 26px;
    font-weight: 400;
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 150px;
    @include ab.respond(s){
      width: 100%;
    }
  }
  
  &__link {
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 68px;
    height: 58px;
    margin-inline-end: 7px;
    background-color: #212330;
    position: relative;
    cursor: pointer;
    // @each $name, $data in ab.$social-media {
    //   // ! Why doesn't this just use an icon mixin?!?!
    //   &--#{$name}::after {
    //     content: map.get($data, "icon");
    //     font-family: 'icomoon' !important;
    //     font-size: 30px;
    //     padding: 12px 22px 16px 22px;
    //     color: ab.$white;
    //     position: absolute;
    //     top: -3px;
    //     left: -4px;
    //   }
    //   &--#{$name}-hover:hover {
    //     background-color: map.get($data, "bg");
    //   }
    // }
    &--facebook {
      @include ab.icon(ab.$social-media, "facebook", "before") {
        position: absolute;
        top: 2px;
        left: 12px;
        font-size: 2.5rem;
      }
    }
    &--instagram {
      @include ab.icon(ab.$social-media, "instagram", "before") {
        position: absolute;
        top: 2px;
        left: 12px;
        font-size: 2.5rem;
      }
    }
    &--x {
      @include ab.icon(ab.$social-media, "x", "before") {
        position: absolute;
        top: 2px;
        left: 12px;
        font-size: 2.5rem;
      }
    }
    &--in {
      @include ab.icon(ab.$social-media, "in", "before") {
        position: absolute;
        top: 2px;
        left: 12px;
        font-size: 2.5rem;
      }
    }
  }

  // ! What's going on here with the empty & selector?!
  @include ab.respond(m) {
    & {
      grid-column: span 2;
    }
  }

  @include ab.respond(l) {
    & {
      grid-column: span 4;
    }
  }

  @include ab.respond(xl) {
    & {
      grid-column: span 1;
    }
  }
}

.fb-bg:hover {
  background-color: ab.$facebook-clr;
}
.ig-bg:hover {
  background-color: ab.$instagram-clr;
}
.tw-bg:hover {
  background-color: ab.$x-clr;
}
.li-bg:hover {
  background-color: ab.$linkedin-clr;
}