@use "../abstracts" as ab;
@use "sass:map";
@use "sass:color";

// dont need this?!
// .header.is-visible {
//   transform: translateY(0);
// }
// .header:not(.is-visible) {
//   transform: translateY(-100%);
// }
.header.is-hidden {
  transform: translateY(-100%);
}
// ===========================
// PRIMARY & SECONDARY HEADER
// ===========================
.header {
  background-color: #fff;
  position: relative;
  z-index: 10000;
  transition: transform .3s ease-in-out;

  &__main {
    display: flex;
    align-items: center;
    padding: 20px 0;
    @include ab.respond(s) {
      padding-bottom: 0;
    }
    @include ab.respond(m) {
      padding-bottom: 20px;
    }
  }

  &__logo-container {
    margin-right: auto;
  }
  
  &__full-logo {
    display: block;
    width: 100%;
    @include ab.respond(m) {
      // width: 344px;
      padding: 0 15px;
    }
  }

  &__link-container {
    display: none;
    @include ab.respond(l) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-right: 20px;
    }
  }

  &__support-btn {
    @include ab.icon(ab.$internal-buttons, "support", before) {
      font-size: 1.25rem;
      margin-right: 4px;
      color: #fff;
    };
    @include ab.darken-bg(ab.$support-btn-clr);
    @include ab.link-btn("support") {
      color: ab.$white;
    };
    color: #fff;
    display: block;
    height: 56px;
  }

  &__contact-btn {
    @include ab.link-icon("contact") {
      font-size: 1.25rem;
      margin-right: 4px;
      color: #fff;
    };
    @include ab.darken-bg(ab.$contact-btn-clr);
    @include ab.link-btn("contact"){
      color: ab.$white;
    };
    color: #fff;
    display: block;
    height: 56px;
  }

  &__search-container {
    display: none;

    @include ab.respond(m) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  
  &__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  &__search-btn {
    @include ab.link-icon("search-icon") {
      font-size: 1.5rem;
      color: #fff;
    }
    @include ab.darken-bg(ab.$contact-btn-clr);
    height: 56px;
    padding: 0 20px 0;
    border: none;
    border-radius: 0 3px 3px 0;
    background-color: ab.$contact-btn-clr;
    cursor: pointer;
    @include ab.respond(l) {
      border-radius: 3px;
      padding: 0 20px 0;
    }
    @include ab.respond(xl) {
      border-radius: 0 3px 3px 0;
    }
  }
  
  &__small-input {
    width: 174px;
    height: 56px;
    border: 1px solid #e5e5e5;
    background-color: ab.$white;
    padding: 5px 15px;
    font-family: 'Poppins', 'sans-serif';
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: box-shadow .3s ease-in-out;
    &:focus, &:focus-visible {
      border: 1px solid #5bc0de;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
      outline: none;
    }
    @include ab.respond(m) {
      margin-left: 15px;
    }
    @include ab.respond(l) {
      display: none;
    }
    @include ab.respond(xl) {
      display: block;
      width: 240px;
      margin-left: 0;
    }
  }

  &__phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    @include ab.respond(m) {
      display: none;
    }
  }
  
  &__phone-icon-link {
    @include ab.link-underline(false);
    margin-left: 15px;
  }
  
  &__phone-icon::before {
    content: "\e942";
    font-family: "icomoon" !important;
    font-size: 2rem;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &__burger-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 56px;
    padding: 5px 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    background-color: ab.$primary_bg_clr;
    border-radius: 4px;
    cursor: pointer;
  }
  
  &__burger-icon {
    @include ab.burger-graphic;
  }

  &__burger-container--active &__burger-icon {
    background-color: transparent;
  }
  &__burger-container--active &__burger-icon::before {
    transform: translateY(10px) rotate(315deg);
  }
  &__burger-container--active &__burger-icon::after {
    transform: translateY(-10px) rotate(-315deg);
  }

  // SECONDARY HEADER ELEMENTS
  &__secondary {
    padding-bottom: 20px;
    @include ab.respond(s) {
      margin-top: 11px;
    }
    @include ab.respond(m) {
      display: none;
    }
  }

  &__secondary-search-wrapper {
    position: relative;
    height: 40px;
  }
  
  &__secondary-input {
    font-size: 14px;
    color: #555;
    background-color: rgba(0,0,0,.1);
    outline: 1px solid hsla(0, 0%, 100%, .2);
    border: 2px solid rgba(0,0,0, .1);
    transition: none;
    width: 100%;
    height: 47px;
    padding: 5px 40px 5px 15px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
  
  &__secondary-search-btn {
    @include ab.link-icon("search-icon") {
      position: absolute;
      font-size: 1.5rem;
      color: #000;
      right: 10px;
      top: 10px;
    }
  }
}

// ===========================
// NAVIGATION MENU
// ===========================
.nav {
  position: relative;
  background-color: ab.$primary_bg_clr;

  &__wrapper {
    display: flex;
    color: ab.$white;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 19px 0 18px 0;
    & small {
      font-size: .625rem;
    }
    @include ab.respond(xl) {
      font-size: 1.125rem;
    }
  }

  &__item {
    @include ab.respond(l) {
      width: 167px;
    }
    @include ab.respond(xl) {
      width: 167px;
    }

    &:hover .nav__link::after {
      content: "";
      position: absolute;
      top: 98px;
      left: 50%;
      transform: translateX(-50%);
      
      width: 139px;
      height: 18px;
      clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
      z-index: 20;
      @include ab.respond(xl) {
        width: 170px;
        height: 36px;
      }
    }

    &--consultancy {
      &:hover { background-color: ab.$consultancy-clr; }
      &:hover .nav__consultancy::after { background-color: ab.$consultancy-clr;}
      &:hover .nav__dropdown--consultancy {background-color: color.adjust(ab.$consultancy-clr, $lightness: -10%);}
    }
    &--consultancy:hover .nav__logo--consultancy::before {
      color: white;
    }

    &--it {
      &:hover { background-color: ab.$it-support-clr; }
      &:hover .nav__it::after { background-color: ab.$it-support-clr;}
      &:hover .nav__dropdown--it {background-color: color.adjust(ab.$it-support-clr, $lightness: -10%);}
    }
    &--it:hover .nav__logo--it::before {
      color: white;
    }

    &--marketing {
      &:hover { background-color: ab.$marketing-clr; }
      &:hover .nav__marketing::after { background-color: ab.$marketing-clr;}
      &:hover .nav__dropdown--marketing {background-color: color.adjust(ab.$marketing-clr, $lightness: -10%);}
    }
    &--marketing:hover .nav__logo--marketing::before {
      color: white;
    }

    &--telecoms {
      &:hover { background-color: ab.$telecoms-clr; }
      &:hover .nav__telecoms::after { background-color: ab.$telecoms-clr;}
      &:hover .nav__dropdown--telecoms {background-color: color.adjust(ab.$telecoms-clr, $lightness: -10%);}
    }
    &--telecoms:hover .nav__logo--telecoms::before {
      color: white;
    }

    &--web {
      &:hover { background-color: ab.$web-development-clr; }
      &:hover .nav__web::after { background-color: ab.$web-development-clr;}
      &:hover .nav__dropdown--web {background-color: color.adjust(ab.$web-development-clr, $lightness: -10%);}
    }
    &--web:hover .nav__logo--web::before {
      color: white;
    }

    &--security {
      &:hover { background-color: ab.$security-clr; }
      &:hover .nav__security::after { background-color: ab.$security-clr;}
      &:hover .nav__dropdown--security {background-color: color.adjust(ab.$security-clr, $lightness: -10%);}
    }
    &--security:hover .nav__logo--security::before {
      color: white;
    }

    &--training {
      &:hover { background-color: ab.$training-clr; }
      &:hover .nav__training::after { background-color: ab.$training-clr;}
      &:hover .nav__dropdown--training {background-color: color.adjust(ab.$training-clr, $lightness: -10%);}
    }
    &--training:hover .nav__logo--training::before {
      color: white;
    }
  }

  &__logo {
    &--consultancy {
      @include ab.icon(ab.$service-types, "consultancy", before){
        color: ab.$consultancy-clr;
      };
    }
    &--it {
      @include ab.icon(ab.$service-types, "it", before){
        color: ab.$it-support-clr;
      };
    }
    &--marketing {
      @include ab.icon(ab.$service-types, "marketing", before){
        color: ab.$marketing-clr;
      };
    }
    &--telecoms {
      @include ab.icon(ab.$service-types, "telecoms", before){
        color: ab.$telecoms-clr;
      };
    }
    &--web {
      @include ab.icon(ab.$service-types, "web", before){
        color: ab.$web-development-clr;
      };
    }
    &--security {
      @include ab.icon(ab.$service-types, "security", before){
        color: ab.$security-clr;
      };
    }
    &--training {
      @include ab.icon(ab.$service-types, "training", before){
        color: ab.$training-clr;
      };
    }
  }
  
  &__dropdown {
    display: none;
    position: absolute;
    top: 97px;
    left: 0px;
    width: 100dvw;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    background-color: ab.$primary_bg_clr;
    z-index: 10;
    &-title {
      width: 100%;
      font-weight: 500;
      margin-bottom: 10px;
      font-size: 2rem;
    }
    &-item {
      @include ab.link-underline(false);
      font-size: 1.2rem;
      line-height: 2.5rem;
      font-weight: 400;
    }
  }

  &__item:hover .nav__dropdown,
  .nav__dropdown:hover {
    display: block;
    pointer-events: auto;
  }

  &__item:hover .nav__dropdown {
    margin-top: 2px;
  }

  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__dropdown &__li {
    display: inline-block;
    width: 33%;
    margin-top: 15px;
  }
}

// Icon generation for dropdown items
@for $i from 1 through 41 {
  .nav__li:nth-child(#{$i})::before {
    content: map.get(ab.$icons, $i);
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
  }
}