@use "../abstracts" as ab;
@use "sass:map";
@use "sass:color";

.nav {
  position: relative;
  background-color: ab.$primary_bg_clr;

  &__wrapper {
    display: flex;
    color: ab.$white;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 19px 0 18px 0;
    & small {
      font-size: .625rem;
    }
    @include ab.respond(xl) {
      font-size: 1.125rem;
    }
  }

  // ! THIS HANDLES ALL HOVER LOGIC SO FAR FOR CHANGING COLOURS
  &__item {
    @include ab.respond(l) {
      width: 167px;
    }
    @include ab.respond(xl) {
      width: 167px;
    }

    &:hover .nav__link::after {
      content: "";
      position: absolute;
      top: 104px;
      left: 50%;
      transform: translateX(-50%);
      
      width: 168px;
      height: 30px;
      clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
      z-index: 20;
    }

    &--consultancy {
      &:hover { background-color: ab.$consultancy-clr; }
      &:hover .nav__consultancy::after { background-color: ab.$consultancy-clr;}
      &:hover .nav__dropdown--consultancy {background-color: color.adjust(ab.$consultancy-clr, $lightness: -10%);}
    }
    &--consultancy:hover .nav__logo--consultancy::before {
      color: white;
    }

    &--it {
      &:hover { background-color: ab.$it-support-clr; }
      &:hover .nav__it::after { background-color: ab.$it-support-clr;}
      &:hover .nav__dropdown--it {background-color: color.adjust(ab.$it-support-clr, $lightness: -10%);}
    }
    &--it:hover .nav__logo--it::before {
      color: white;
    }

    &--marketing {
      &:hover { background-color: ab.$marketing-clr; }
      &:hover .nav__marketing::after { background-color: ab.$marketing-clr;}
      &:hover .nav__dropdown--marketing {background-color: color.adjust(ab.$marketing-clr, $lightness: -10%);}
    }
    &--marketing:hover .nav__logo--marketing::before {
      color: white;
    }

    &--telecoms {
      &:hover { background-color: ab.$telecoms-clr; }
      &:hover .nav__telecoms::after { background-color: ab.$telecoms-clr;}
      &:hover .nav__dropdown--telecoms {background-color: color.adjust(ab.$telecoms-clr, $lightness: -10%);}
    }
    &--telecoms:hover .nav__logo--telecoms::before {
      color: white;
    }

    &--web {
      &:hover { background-color: ab.$web-development-clr; }
      &:hover .nav__web::after { background-color: ab.$web-development-clr;}
      &:hover .nav__dropdown--web {background-color: color.adjust(ab.$web-development-clr, $lightness: -10%);}
    }
    &--web:hover .nav__logo--web::before {
      color: white;
    }

    &--security {
      &:hover { background-color: ab.$security-clr; }
      &:hover .nav__security::after { background-color: ab.$security-clr;}
      &:hover .nav__dropdown--security {background-color: color.adjust(ab.$security-clr, $lightness: -10%);}
    }
    &--security:hover .nav__logo--security::before {
      color: white;
    }

    &--training {
      &:hover { background-color: ab.$training-clr; }
      &:hover .nav__training::after { background-color: ab.$training-clr;}
      &:hover .nav__dropdown--training {background-color: color.adjust(ab.$training-clr, $lightness: -10%);}
    }
    &--training:hover .nav__logo--training::before {
      color: white;
    }
  }

  &__logo {
    &--consultancy {
      @include ab.icon(ab.$service-types, "consultancy", before){
        color: ab.$consultancy-clr;
      };
    }
    &--it {
      @include ab.icon(ab.$service-types, "it", before){
        color: ab.$it-support-clr;
      };
    }
    &--marketing {
      @include ab.icon(ab.$service-types, "marketing", before){
        color: ab.$marketing-clr;
      };
    }
    &--telecoms {
      @include ab.icon(ab.$service-types, "telecoms", before){
        color: ab.$telecoms-clr;
      };
    }
    &--web {
      @include ab.icon(ab.$service-types, "web", before){
        color: ab.$web-development-clr;
      };
    }
    &--security {
      @include ab.icon(ab.$service-types, "security", before){
        color: ab.$security-clr;
      };
    }
    &--training {
      @include ab.icon(ab.$service-types, "training", before){
        color: ab.$training-clr;
      };
    }
  }
  
  &__dropdown {
    display: none;
    position: absolute;
    top: 102px;
    left: -2px;
    width: 99dvw;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    background-color: ab.$primary_bg_clr;
    z-index: 10;
    &-title {
      width: 100%;
      font-weight: 500;
      margin-bottom: 10px;
      font-size: 2rem;
    }
    &-item {
      @include ab.link-underline(false);
      font-size: 1.2rem;
      line-height: 2.5rem;
      font-weight: 400;
    }
  }

  &__item:hover .nav__dropdown,
  .nav__dropdown:hover {
    display: block;
    pointer-events: auto;
  }

  &__item:hover .nav__dropdown {
    margin-top: 2px;
  }

  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__dropdown &__li {
    display: inline-block;
    width: 33%;
    margin-top: 15px;
  }
}

// ! each dropdown section would need it's own list with unique icons to prevent duplication
@for $i from 1 through 41 {
  .nav__li:nth-child(#{$i})::before {
    content: map.get(ab.$icons, $i);
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
  }
}