.partners {
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 80px;
    overflow-x: hidden;
    padding-block: 50px;
  }
}

.partners__wrapper img {
  filter: grayscale(100%);
  opacity: .6;
  transition: filter .6s ease-in-out;
  flex: 0 0 auto;
}

.partners__wrapper img:hover {
  filter: grayscale(0%);
  opacity: 1;
  flex: 0 0 auto;
}

div[class^="partners__item--"] {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-inline-end: 50px;
}