@use "../abstracts" as ab;
@use "sass:map";

//=========================================================================
// SERVICES SECTION
// =========================================================================
.services-wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px 0;

  &__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  &__title{
    font-size: 2.625rem;
    font-weight: 400;
  }
  &__header-link{
    @include ab.prime-btn;
    @include ab.link-arrow;
    display: none;
    color: ab.$text-grey;
    font-size: 1.625rem;
    font-weight: 600;
    margin-block: 15px;
    line-height: .425;

    @include ab.respond(m) {
      display: block;
      font-size: 2.25rem;
    }
    &:hover {
      border-radius: 0%;
      border-bottom: 3px solid currentColor;
      margin-bottom: 12px;
      text-decoration: none;
    }
  }
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    @include ab.respond(m) {
      display: none;
    }
  }
  &__footer-link {
    @include ab.link-arrow {
      margin-left: 5px;
    };
    @include ab.link-underline(true);
    font-weight: 600;
    font-size: 1.625rem;
  }
  &__articles{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 30px;

    // ! single & WHY?!?!
    @include ab.respond(m) {
      & {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @include ab.respond(l) {
      & {
        grid-template-columns: repeat(6, 1fr);
      }
    }
    @include ab.respond(xl) {
      & {
        grid-template-columns: repeat(12, 1fr);
      }
    }
  }
}
// =========================================================================
// SERVICE CARDS
// =========================================================================
.services-wrapper__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  margin: 30px auto 0;
  min-width: 100%;
  &-icon-bg{
    display: block;
    margin: 0 auto 17px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }
  &-icon{
    position: relative;
    top: 15px;
    // &--consultancy {
    //   @include ab.icon (ab.$service-types, "consultancy", before){
    //     // color: ab.$consultancy-clr;
    //     color: #fff;
    //   };
    // }
    // &--it {
    //   @include ab.icon (ab.$service-types, "it", before){
    //     // color: ab.$it-support-clr;
    //     color: #fff;
    //   };
    // }
    // &--marketing {
    //   @include ab.icon (ab.$service-types, "marketing", before){
    //     // color: ab.$marketing-clr;
    //     color: #fff;
    //   };
    // }
    // &--telecoms {
    //   @include ab.icon (ab.$service-types, "telecoms", before){
    //     // color: ab.$telecoms-clr;
    //     color: #fff;
    //   };
    // }
    // &--web {
    //   @include ab.icon (ab.$service-types, "web", before){
    //     // color: ab.$web-development-clr;
    //     color: #fff;
    //   };
    // }
    // &--security {
    //   @include ab.icon (ab.$service-types, "security", before){
    //     // color: ab.$security-clr;
    //     color: #fff;
    //   };
    // }
    // &--training {
    //   @include ab.icon (ab.$service-types, "training", before){
    //     // color: ab.$training-clr;
    //     color: #fff;
    //   };
    // }
  }
  &-title{
    display: block;
    margin: 0 auto 10px;
    padding-bottom: 10px;
    font-size: 1.35rem;
    font-weight: 400;
    line-height: 35px;

    @include ab.respond(xl) {
      font-size: 20px;
    }
  }
  &-exerpt-wrapper{
    display: block;
    margin: auto auto 13px;
    font-size: .825rem;
    font-weight: 300;
  }
  &-exerpt {
    // border: 1px solid red;
    font-weight: 400;
  }
  &-link-btn{
    @include ab.prime-btn;
    margin-top: 20px;
    padding: 5px 15px;
    height: 47px;
    font-size: 1.1rem;
    font-weight: normal;
    color: ab.$white;
    text-transform: uppercase;
  }

  @include ab.respond(m) {
    &:nth-child(-n+3) {
      grid-column: span 2;
    }
    &:nth-child(n+4) {
      grid-column: span 1;
    }
  }
  @include ab.respond(l) {
    &:nth-child(n+4) {
      grid-column: span 3;
    }
  }
  @include ab.respond(xl) {
    &:nth-child(-n+3) {
      grid-column: span 4;
    }
  }
}

// .btn--consultancy {
//   background-color: ab.$consultancy-clr;
// }
// .btn--it {
//   background-color: ab.$it-support-clr;
// }
// .btn--marketing {
//   background-color: ab.$marketing-clr;
// }
// .btn--telecoms {
//   background-color: ab.$telecoms-clr;
// }
// .btn--web {
//   background-color: ab.$web-development-clr;
// }
// .btn--security {
//   background-color: ab.$security-clr;
// }
// .btn--training {
//   background-color: ab.$training-clr;
// }

// .button-container {
//   @include ab.btn-container;
// }

// =========================================================================
// SEPARATE LOOP ABLE TO TARGET ONLY THE ELEMENTS THAT REQUIRE CUSTOM ICONS/COLOURS
// =========================================================================
@each $name, $data in ab.$service-types {
  .services-wrapper__card--#{$name} {
    padding: 30px;
    box-shadow: 0 0 9px 3px rgba(ab.$black, 0.1);
    border: 1px solid rgba(ab.$text-grey, 0.4);
    transition: all .25s ease-in-out;
    border-radius: 10px;
    min-width: 100%;
    height: 100%;
    .services-wrapper__card-icon-bg {
      background-color: map.get($data, "bg");
    }
    .services-wrapper__card-icon--#{$name} {
      @include ab.icon(ab.$service-types, $name, before) {
        font-size: 2.5rem;
        color: #fff;
      };
    }
    .services-wrapper__card-link-btn {
      background-color: map.get($data, "bg");
    }
  }
  .services-wrapper__card--#{$name}:hover {
    background-color: map.get($data, "bg");
    transform: translateY(-12px);
    text-decoration: none;
    .services-wrapper__card-icon-bg {
      background-color: ab.$white;
    }
    .services-wrapper__card-icon--#{$name}::before {
      color: map.get($data, "bg");
    }
    .services-wrapper__card-title,
    .services-wrapper__card-exerpt {
      color: ab.$white;
      &:hover {
        color: #fff;
      }
    }
    .services-wrapper__card-link-btn {
      background-color: ab.$white;
      color: map.get($data, "bg");
    }
    // .services-wrapper__card-icon::after {
    //   color: map.get($data, "bg");
    //   &:hover {
    //     border: 1px solid red;
    //   }
    // }
  }
}